---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="El Carro Cafe.">
	<main>
		<section class="landing">
			<h1 class="text-gradient">El Carro Café</h1>
			
			<h2>Pastelería de autor en Bariloche</h2>
			<p>
				Podes encontrarnos en
				<a
					href="https://www.google.com/maps/place/Colonia+Suiza,+R%C3%ADo+Negro+Province/@-41.0949418,-71.5160502,16z/data=!3m1!4b1!4m6!3m5!1s0x961a744474761a51:0x6659bcdb699c6c9b!8m2!3d-41.0953125!4d-71.5105057!16s%2Fm%2F0bwknbg?entry=ttu"
					target="_blank"
					rel="noopener noreferrer"
				>Colonia Suiza</a>. Pedidos con 48hs de anticipación.
				<br />
				Horarios: Martes a Domingo de 10am a 20hs
			</p>
			<h3>Medios de pago</h3>
			<ul>
				<li>Mercado Pago</li>
				<li>Débito</li>
				<li>Crédito</li>
			</ul>
		</section>

		<Card />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 16px;
		line-height: 1.6;
	}
	.landing {
		padding: 1rem;
		height: 100vh;
		margin-top: 2rem;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
